setuptools
torch
torchvision
pytorch-lightning
opencv-python
imageio
ftfy
regex
tqdm
#./third_party/CLIP/
git+https://github.com/openai/CLIP.git
altair
streamlit
protobuf
timm
tensorboardX
matplotlib
test-tube
wandb
torchmetrics
scikit-image
scikit-learn
#git+https://github.com/zhanghang1989/PyTorch-Encoding/
